.body {
  background-image: url(/image/Login.png);
}
.card {
  color: transparent;
}
.error-text {
  position: absolute;
  display: none;
}
/* .block {
  margin-left: 50%;
  margin-top: 50%;
} */
.login {
  margin-left: 500px;
  margin-top: 200px;
}
