.body {
  background-image: url(/image/Login.png);
}
.card {
  color: transparent;
}
.error-text {
  position: absolute;
  display: none;
}
.toggle {
  background-color: white;
  color: black;
}
.dark-mode {
  background-color: black;
  color: white;
}
